@font-face {
  font-family: 'Western Rail';
  src: url('fonts/8Bit-44Pl.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Western Rail', Arial, sans-serif;
  background: url(images/8bit_train.jpg) no-repeat center center fixed; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
}

.login-wrapper {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
}

.btn-login {
  display: inline-block;
  background: rgba(66, 133, 244, 0.7);
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.btn-login:hover {
  background: rgba(42, 117, 243, 0.7);
}
